@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(193, 193, 193);
  cursor: default;
}

button {
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
  color: antiquewhite;
  padding: 7px 10px;
  border-radius: 5px;
}

button:hover {
  background-color: black;
  color: antiquewhite;
}

button:active {
  background-color: black;
  color: antiquewhite;
  transform: scale(0.95);
}

header {
  width: 100%;
  font-size: 22px;
  background-color: black;
  filter: drop-shadow(0 0 10px black) opacity(0.9);
}

.header-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  max-width: 1200px;
  gap: 100px;
  color: antiquewhite;
}

.header-container > * {
  cursor: pointer;
}

.header-container > *:hover {
  transform: scale(1.05);
}

.shows {
  margin-top: 50px;
}

.shows h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.series {
  text-align: center;
  width: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  column-gap: 100px;
  row-gap: 70px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 210px;
}

.item img {
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.heart {
  transition: transform 0.2s ease-out;
  color: black;
  filter: drop-shadow(0 0 5px black);
  font-size: 200%;
  cursor: pointer;
}

.heart:hover {
  animation: alternate 0.5s ease-in-out infinite;
  color: antiquewhite;
}

.heart:active {
  transform: scale(1.3);
  color: rgb(218, 45, 45);
}

.heart:visited {
  color: rgb(218, 45, 45);
}

.likes {
  color: black;
  align-self: flex-end;
}

.comments {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  border: 1px solid #000;
  padding: 40px;
  gap: 60px;
  border-radius: 20px;
  z-index: 100;
  max-height: 80vh;
}

.comments img {
  max-width: 450px;
  border-radius: 20px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.text-content {
  overflow-y: scroll;
  padding: 0 10px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  grid-column: 1 / 3;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 50px;
}

.comments-section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px auto;
}

.comment-list h3 {
  margin-bottom: 15px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.comment-form {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.comment-form button {
  align-self: flex-end;
}

.comment-form input,
.comment-form textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.reservations {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  border: 1px solid #000;
  padding: 40px;
  gap: 60px;
  border-radius: 20px;
  z-index: 100;
  max-height: 80vh;
}

.reservations img {
  max-width: 450px;
  border-radius: 20px;
}

.reservations-section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px auto;
}

.reservation-list h3 {
  margin-bottom: 15px;
}

.reservation-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.reservation-form {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.reservation-form button {
  align-self: flex-end;
}

.reservation-form input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

footer {
  font-family: 'Goudy Bookletter 1911', serif;
  width: 100%;
  bottom: 0;
  padding: 20px;
  padding-left: 3%;
  background-color: black;
  color: antiquewhite;
  filter: drop-shadow(0 0 10px black) opacity(0.9);
}

footer > a {
  font-family: 'Goudy Bookletter 1911', serif;
  text-decoration: none;
  color: orangered;
}

footer > a:hover {
  filter: drop-shadow(0 0 5px antiquewhite);
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
  z-index: 25;
}

.hidden {
  display: none;
}
